<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <!-- Favicon -->



    <title>
        Vance Street Capital |  Private Equity | Aerospace | Defense | Industrial | Medical
    </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="Vance Street Capital is a Los Angeles-based private equity firm focused exclusively on acquiring middle-market businesses which provide engineered solutions across the aerospace, defense, industrial and medical sectors.  The fund leverages its deep operating and strategic resources in its target sectors to provide its management teams with a level of support and industry insight that is rarely found in the middle market.   The Managing Partners of Vance Street have a 23-year history of working together in private equity and have invested $1.6 billion in over 100 acquisitions across 21 platform companies.">
    <meta name="author">
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://www.vancestreetcapital.com/css/bootstrap.min.css">
    <link href="https://www.vancestreetcapital.com/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.vancestreetcapital.com/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/png" href="https://www.vancestreetcapital.com/images/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.vancestreetcapital.com/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://www.vancestreetcapital.com/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.vancestreetcapital.com/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.vancestreetcapital.com/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.vancestreetcapital.com/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://www.vancestreetcapital.com/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://www.vancestreetcapital.com/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Slider Css Style -->




    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,900,100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100i,200,200i,300,400,500,600,700" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://www.vancestreetcapital.com/js/jquery.flexslider.js"></script>



</head>


<body>
    <div id="wrapper" style="min-height: -webkit-calc(100vh - 200px);">




<div id="main" >

    <section class="content home-content" >
        <div class="page-view" >
            <div class="flexslider" >
                <ul class="slides" >
                        <li class="listbg1 mobileslides" style="background: url('<%= asset_path('cobblestone_home_page.jpg') %>'); background-size: cover; background-position:  center;  display: none;" data-text="A&amp;E Medical.  Tritium® Sternal Plating System">

                        </li>
                        <li class="listbg1 mobileslides" style="background: url('<%= asset_path('handshake_home_page.jpg') %>'); background-size: cover;  background-position:  center;  display: none;" data-text="RST Instruments. Geotechnical Instrumentation.">

                        </li>
                        <li class="listbg1 mobileslides" style="background: url('<%= asset_path('nightoffice_home_page.jpg') %>'); background-size: cover;  background-position:  center; display: none;" data-text="RST Instruments. Geotechnical Instrumentation.">

                        </li>

                        </li>
                        <li class="listbg1 mobileslides" style="background: url('<%= asset_path('plantgrowing_home_page.jpg') %>'); background-size: cover;  background-position:  center;  display: none;" data-text="RST Instruments. Geotechnical Instrumentation.">

                        </li>
                        <li class="listbg1 mobileslides" style="background: url('<%= asset_path('terra-planeta_home_page.jpg') %>'); background-size: cover;  background-position:  center;  display: none;" data-text="RST Instruments. Geotechnical Instrumentation.">

                        </li>
                </ul>

            </div>
            <div class="container" >
                <div class="video-caption col-xs-8" >
                    <h1>Secure Technology Company. F-16 glass cockpit display a<span>|</span></h1>
                    <h3 style="color: white">Hyacinth Capital Advisors facilitates the growth of Corporations and Businesses across the globe by providing strong, strategic and comprehensive advisory and financing services that create great outcomes in the financial life of our clients.</h3>
                </div>
                </div>
        </div>
    </section>

    <section class="partners clearfix" >
            <div class="container" style="position:relative">
                <div class="list-container clearfix">

                      <!-- <ul class="partner-lists clearfix" id="list1" style="width: 2090px; left: 187px;">
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#10020">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/applied_plastics_grey.jpg" alt="applied_plastics.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/applied_plastics.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#3">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray1.png" alt="company-logo1.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo1.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#4">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/aebw.jpg" alt="aecolor.jpg" data-src="https://www.vancestreetcapital.com/images/Uploads/img/aecolor.jpg">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#19">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/adamspencegrey.jpg" alt="Adam Spence.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/Adam Spence.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#10019">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/jetpartsgrey.jpg" alt="JPE.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/JPE.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#5">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray3.png" alt="company-logo3.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo3.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#6">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray4.png" alt="company-logo4.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo4.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#7">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray5.png" alt="company-logo5.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo5.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#8">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray6.png" alt="company-logo6.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo6.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#18">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/rstbw.jpg" alt="rstcolor.jpg" data-src="https://www.vancestreetcapital.com/images/Uploads/img/rstcolor.jpg">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio#16">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/micross-grey.png" alt="micross.png" data-src="https://www.vancestreetcapital.com/images/Uploads/img/micross.png">
                                  </a>
                              </li>

                      </ul>
                      <ul class="partner-lists clearfix" id="list2" style="left: -1903px; width: 2090px;">
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=0">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/applied_plastics_grey.jpg" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/applied_plastics.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=1">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray1.png" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo1.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=2">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/aebw.jpg" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/aecolor.jpg">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=3">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/adamspencegrey.jpg" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/Adam Spence.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=4">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/jetpartsgrey.jpg" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/JPE.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=5">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray3.png" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo3.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=6">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray4.png" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo4.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=7">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray5.png" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo5.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=8">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo-gray6.png" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/company-logo6.png">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=9">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/rstbw.jpg" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/rstcolor.jpg">
                                  </a>
                              </li>
                              <li class="delta-dot" style="width: 190px;">
                                  <a href="https://www.vancestreetcapital.com/portfolio/index?name=10">
                                          <img src="https://www.vancestreetcapital.com/images/Uploads/img/micross-grey.png" alt="item.ImageName" data-src="https://www.vancestreetcapital.com/images/Uploads/img/micross.png">
                                  </a>
                              </li>
                      </ul>
 -->
                </div>

            </div>
    </section>

</div>
    </div>


    <div class="modal-bg">
    </div>

    <!-- Latest compiled and minified JavaScript -->

    <script>window.jQuery || document.write('<script src="https://www.vancestreetcapital.com/js/jquery-1.11.3.min.js"><\/script>')</script>
    <script src="https://www.vancestreetcapital.com/js/bootstrap.min.js"></script>
    <script src="https://www.vancestreetcapital.com/js/jquery.bxslider.min.js"></script>







    <script type="text/javascript">
        var hover = false;
        var m = 0;
        var l = $('.partner-lists').outerWidth();
        var n = l;
        var speed = 20;
        $('#list2').css('left', l);


        $('.partner-lists img').hover(function () {
            var srcs = $(this).attr('src');
            $(this).attr('src', $(this).attr('data-src'));
            $(this).attr('data-src', srcs);
        })


    </script>

    <script>
        var hover = false;
        var m = 0;
        var l = $('.partner-lists').outerWidth();
        var n = l;
        var speed = 20;
        $('#list2').css('left', l);

        function scrollPics() {
            if (hover == false) {
                document.getElementById('list1').style.left = m + 'px';
                document.getElementById('list2').style.left = n + 'px';
                m--;
                n--;
                if (m == -l) {
                    m = l;
                }
                if (n == -l) {
                    n = l;
                }
                //setTimeout(scrollPics(), speed);
            }
        }
        window.onload = function () {
            l = 0;

            $('#list1 li').each(function () {
                l += $(this).outerWidth(true);
                $(this).css('width', $(this).outerWidth(true));

            })
            $('#list2 li').each(function () {
                $(this).css('width', $(this).outerWidth(true));
            })
            n = l;
            $('.partner-lists').css('width', l);
            setInterval(function () {
                scrollPics();
            }, speed);
        }
        $('.partner-lists').hover(function () {
            hover = true;
        }, function () {
            hover = false;
            scrollPics();
        })
        $(window).resize(function (e) {

            e.preventDefault();
            //e.stopPropagation();
            hover = false;
            m = 0;
            l = 0;
            $('#list1 li').removeAttr('style');
            $('#list2 li').removeAttr('style');
            $('.partner-lists').css('width', '100%');
            $('#list1 li').each(function () {
                l += $(this).outerWidth(true);
                $(this).css('width', $(this).outerWidth(true));

            })
            $('#list2 li').each(function () {
                $(this).css('width', $(this).outerWidth(true));
            })
            n = l;
            $('.partner-lists').css('width', l);
            //speed = 20;
            //scrollPics();
        })


        function imgError(image) {

            image.onerror = "";
            image.src = 'https://www.vancestreetcapital.com/images/NoImage.png';
            return true;
        }
    </script>


    <script type="text/javascript">
        $(window).load(function () {
            $('.mobileslides').hide();
            $('.mobileslides').eq(0).addClass('active').show();
            var len = $('.mobileslides').length;
            function callSelf() {
                $('.video-caption h1').html('<span>|</span>');
                var text = $('.mobileslides.active').data('text');
                //console.log(text);



                var appendText = '';
                var i = 0;
                var int = setInterval(function () {
                    appendText += text[i];
                    $('.video-caption h1').html(appendText + '<span>|</span>');
                    i++;
                    if (i == text.length) {
                        clearInterval(int);

                        setTimeout(function () {
                            if ($('.mobileslides.active').index() >= len - 1) {
                                $('.mobileslides.active').fadeOut(500);
                                $('.mobileslides')
                                    .eq(0)
                                    .addClass('active').fadeIn(500);
                                $('.mobileslides.active').eq(1).removeClass('active');
                            } else {
                                $('.mobileslides.active').fadeOut(500);
                                $('.mobileslides.active')
                                    .next('.mobileslides')
                                    .addClass('active').fadeIn(500);
                                $('.mobileslides.active').eq(0).removeClass('active');
                            }
                            callSelf();
                        }, 3000)

                    }
                }, 100)
            }
            callSelf();

            // cursor
                var css = document.createElement("style");
                css.type = "text/css";
               // css.innerHTML = ".video-caption h1 { border-right: 0.08em solid #fff}";
                document.body.appendChild(css);
        })
    </script>




    <script type="text/javascript">
        $(window).load(function () {
            var actionName = 'index';
            var controllerName = 'home';
            actionName = actionName.toLocaleLowerCase();
            controllerName = controllerName.toLocaleLowerCase();;
            try {

                $('.headerlink li').each(function () {
                    $(this).removeClass('active');
                    var $li = $(this);
                    var $link = $(this).find('a');
                    var hrefAction = $link.attr('attrAction').toLocaleLowerCase();
                    var hrefController = $link.attr('attrController').toLocaleLowerCase();
                    if (actionName == 'newsdetail') {
                        actionName = 'index';
                    }
                    if (hrefAction == actionName.toLocaleLowerCase() && hrefController == controllerName.toLocaleLowerCase()) {
                        if (hrefController != 'home') {
                            $li.addClass('active');
                        }

                    }
                });
            } catch (e) {

            }
        });

        //If Image is not Exist then Default Image is shown
        function imgError(image) {
            image.onerror = "";
            image.src = 'https://www.vancestreetcapital.com/images/NoImage.png';
            return true;
        }
    </script>




<style type="text/css"></style></body></html>
<%= render 'static_pages/partials/learn_more_cols' %>
