
<body>

<%= render 'investment_banking/investment_pic' %>
      <main id="page" role="main">
        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation">
    <ul>
    <li ><%= link_to "Investment Banking", investment_banking_path, style: "padding: 0px;", class: "nav-section-label" %></li>
      <li ><%= link_to "Overview", investement_overview_path, class: "page-collection" %></a></li>
      <li ><%= link_to "Financing & Recapitalizations", investment_financing_path, class: "page-collection"%></li>
      <li><%= link_to "Buy Side Advisory", investment_buyside_path, class: "page-collection" %></li>
      <li><%= link_to "Sell Side Advisory", investment_sellside_path, class: "page-collection" %></li>
      <li><%= link_to "Transactions Advisory", investment_transactions_path, class: "page-collection" %></li>
    </ul>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="53519fd7e4b0e68461b3d2f1" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1540306395419" id="page-53519fd7e4b0e68461b3d2f1"><div class="row sqs-row" id="yui_3_17_2_1_1592002243484_111"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1592002243484_110"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1412717418905_24776"><div class="sqs-block-content"><h2 style="white-space: pre-wrap;">Everything we do originates from an express desire to meet the unique objectives of each of our clients.  We impact their success by bringing a range of solutions and approaches drawn from years of collective deal experience.  Operating experience, board experience and investment experience ensure we maximize value and secure your financial legacy.</h2><p style="white-space: pre-wrap;">Our services include buy-side and sell-side transaction advisory, financing and recapitalization assistance and divestitures. We understand the impact of growth objectives and the implications of succession. We have been in your shoes. Our experience provides us with perspective and the insight to help achieve our clients’ goals throughout the transaction process.</p><p style="white-space: pre-wrap;">Our research-driven process and broad perspective leverages more than just our past experience. We understand that exceeding our clients’ expectations in today’s market relies on effective communication, key relationships and relentless, data-driven execution.  We have worked with hundreds of companies and analyzed dozens of industries.  Our insights allow us to help our clients showcase strengths, plan for uncertain futures and strategically value what drives their business. We utilize this understanding to illustrate value to the right partners.</p><p style="white-space: pre-wrap;">Our broad experience and diverse service offering allows us to provide unbiased advice and innovative strategies as we assist our partners in achieving their goals and maximizing value.</p>

        <p style="white-space: pre-wrap;">&nbsp;</p><h3 style="white-space: pre-wrap;"><%= link_to "Financing & Recapitalizations", investment_financing_path, style: "padding: 0px;" %></h3><p style="white-space: pre-wrap;">NEED A PARAGRAPH FOR THIS ONE
         </p>

         <p style="white-space: pre-wrap;">&nbsp;</p><h3 style="white-space: pre-wrap;"><%= link_to "Buy Side Advisory", investment_buyside_path, style: "padding: 0px;" %></h3><p style="white-space: pre-wrap;">Utilizing our targeted, research-driven process, we are successful in finding the right companies and investment opportunities in whatever geography our clients are focused. We ensure the strategy drives the deals and assist throughout the entire acquisition process for one-time deals and ongoing growth and business development initiatives.&nbsp;
         </p>
         <h3 style="white-space: pre-wrap;"><%= link_to "Sell Side Advisory", investment_sellside_path, style: "padding: 0px;" %></h3><p style="white-space: pre-wrap;">Our sell-side advisory services are anything but traditional. Our experience as operators and investors allows us to identify and highlight specific value-drivers for potential acquirers, widening the field and maximizing value for our client partners.&nbsp;</p><p style="white-space: pre-wrap;">We work diligently to learn every aspect of your business as we highlight the strengths you have worked tirelessly to achieve, while identifying targeted areas for growth and expansion to potential acquirers. Our sell-side process is built upon the pillars of communication, fiduciary responsibility, and achieving favorable outcomes for clients. </p><p style="white-space: pre-wrap;">Hyacinth’s proprietary process begins and ends our clients’ goals and objectives. We perform a granular analysis of your businesses’ value proposition and strategic development opportunities to communicate your businesses’ most attractive qualities to the market. We handle the entire transaction process by maintaining regular, detailed communication, ensuring timely and effective management of milestones, identification of key issues and ultimately, achieving maximizing value for our clients.</div>
          </div>



        </div></div><div class="sqs-block image-block sqs-block-image sqs-col-3 span-3 float float-right sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1524607494941_26649"><div class="sqs-block-content" id="yui_3_17_2_1_1592002243484_109">

    <div class="image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
         sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1592002243484_108">




        <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:1440.0px;" id="yui_3_17_2_1_1592002243484_107">





          <a class="
                sqs-block-image-link



              " href="https://www.gcg.com/" target="_blank" id="yui_3_17_2_1_1592002243484_106">

          <div style="padding-bottom: 66.25%; overflow: hidden;" class="
                image-block-wrapper



                has-aspect-ratio
              " data-animation-role="image" id="yui_3_17_2_1_1592002243484_105">
            <noscript><img src="<%= link_to image_tag("logo.jpg", alt: "Main Logo"), root_path %>" alt="GCG-Independent-member.png" /></noscript><img class="thumb-image loaded" data-src="<%= link_to image_tag("logo.jpg", alt: "Main Logo"), root_path %>" data-image-dimensions="1440x954" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5adfafb3562fa79909b34abe" data-type="image" style="left: 0%; top: -0.189394%; width: 100%; height: 100.379%; position: absolute;" alt="GCG-Independent-member.png" data-image-resolution="300w" src="<%= link_to image_tag("logo.jpg", alt: "Main Logo"), root_path %>">
          </div>

          </a>

        </figure>


    </div>

</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1524607494941_33940"><div class="sqs-block-content"><h3 style="white-space: pre-wrap;"><%= link_to "Transactions Advisory", investment_transactions_path, style: "padding: 0px;" %></h3><p style="white-space: pre-wrap;">A successful transaction is dependent upon developing and execution of the right strategy, while ensuring price and post-acquisition returns are maximized. We work with you to ensure you are able to gain an edge in a potential transaction, while mitigating risk and positioning your buy-side or sell-side process for success.</p><p style="white-space: pre-wrap;">Our Transaction Advisory Services leverages our extensive domestic and international, buy-side and sell-side experience with strategic financial advisory, business valuation and technical accounting across a broad range of industries to ensure our clients have all information available in a timely and efficient manner. </p><p style="white-space: pre-wrap;">Our team will work with you to ensure you have all information needed to make informed decisions based on quality data, including financial, tax, and accounting issues, “deal breakers” and opportunities for additional value creation in order to maximize returns.


 </div></div><div class="sqs-block gallery-block sqs-block-gallery" data-block-json="{&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;newWindow&quot;:false,&quot;aspect-ratio&quot;:&quot;square&quot;,&quot;aspectRatio&quot;:null,&quot;auto-crop&quot;:true,&quot;collectionId&quot;:&quot;5bcf34b1f4e1fc0193f37680&quot;,&quot;design&quot;:&quot;grid&quot;,&quot;lightbox&quot;:false,&quot;padding&quot;:20,&quot;show-meta&quot;:true,&quot;show-meta-basic&quot;:true,&quot;show-meta-only-title&quot;:false,&quot;show-meta-only-description&quot;:false,&quot;square-thumbs&quot;:false,&quot;thumbnails-per-row&quot;:3,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;5bcf34b1f4e1fc0193f37680&quot;}" data-block-type="8" id="block-yui_3_17_2_1_1540305586559_24952"><div class="sqs-block-content">



</div></div></div></div></div>
        </div><!--
        -->

      </main>

</body>

<%= javascript_tag "addTextByDelay('#investment-plus-text')" %>
