
<style type="text/css">
  .navbar-fixed-left {
  position: fixed;
  bottom: 0;
  left: 5;
  width: 200px;

}


}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

</style>

<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-US" class="yui3-js-enabled js flexbox canvas canvastext webgl no-touch hashchange history draganddrop rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions video audio svg inlinesvg svgclippaths wf-proximanova-n4-active wf-proximanova-n6-active wf-proximanova-n7-active wf-proximanova-i6-active wf-proximanova-i7-active wf-ffbasicgothicwebpro-n3-active wf-europa-n3-active wf-europa-n4-active wf-europa-n7-active wf-europa-i3-active wf-europa-i7-active wf-active" style="" id="yui_3_17_2_1_1586400025860_112"><div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div><head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- This is Squarespace. --><!-- cascade-partners -->
<base href="">
<meta charset="utf-8">
<title>Overview — Cascade Partners</title>
<link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/533b19d5e4b0168db4095de0/1401945569742-H7MLKIGZJWGE58P518LX/ke17ZwdGBToddI8pDm48kONQzD3RgrKzZ18rKzTvXF5Zw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7VJBgSaXn0dNQsXftokDjBwU944C1sQL-8v474PEZUGbI9fd0FyLw-2iNAVL1ElpqA/favicon.ico?format=100w">
<link rel="canonical" href="http://www.cascade-partners.com/investment-banking-overview">
<meta property="og:site_name" content="Cascade Partners">
<meta property="og:title" content="Overview — Cascade Partners">
<meta property="og:url" content="http://www.cascade-partners.com/investment-banking-overview">
<meta property="og:type" content="website">
<meta property="og:description" content="Cascade Partners recognizes a good transaction involves much more than merely closing the deal. It’s about maximizing value not just dollars.">
<meta itemprop="name" content="Overview — Cascade Partners">
<meta itemprop="url" content="http://www.cascade-partners.com/investment-banking-overview">
<meta itemprop="description" content="Cascade Partners recognizes a good transaction involves much more than merely closing the deal. It’s about maximizing value not just dollars.">
<meta name="twitter:title" content="Overview — Cascade Partners">
<meta name="twitter:url" content="http://www.cascade-partners.com/investment-banking-overview">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Cascade Partners recognizes a good transaction involves much more than merely closing the deal. It’s about maximizing value not just dollars.">
<meta name="description" content="Cascade Partners recognizes a good transaction involves much more than
merely closing the deal. It’s about maximizing value not just dollars.">

<style type="text/css">@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?subset_id=2&fvd=n6&v=3) format("opentype");font-weight:600;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/l?subset_id=2&fvd=i6&v=3) format("woff2"),url(https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/d?subset_id=2&fvd=i6&v=3) format("woff"),url(https://use.typekit.net/af/f7d492/00000000000000003b9b3067/27/a?subset_id=2&fvd=i6&v=3) format("opentype");font-weight:600;font-style:italic;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:ff-basic-gothic-web-pro;src:url(https://use.typekit.net/af/83c2cb/00000000000000003b9b04d0/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/83c2cb/00000000000000003b9b04d0/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/83c2cb/00000000000000003b9b04d0/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/l?subset_id=2&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/d?subset_id=2&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/a?subset_id=2&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}</style><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alegreya+Sans:400|Oswald:400,300">

<!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&part=4"/><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=4"/><![endif]-->
<!--[if !IE]> --><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1035-05142015/1581704408067/site.css?&amp;filterFeatures=false"><!-- <![endif]-->

  <style type="text/css">.disable-hover:not(.sqs-layout-editing), .disable-hover:not(.sqs-layout-editing) * { pointer-events: none  ; }</style></head>
  <body id="collection-53519fd7e4b0e68461b3d2f1" class="nav-button-style-outline nav-button-corner-style-pill banner-button-style-solid banner-button-corner-style-pill banner-slideshow-controls-arrows meta-priority-date hide-entry-author hide-list-entry-footer hide-blog-sidebar center-navigation--info event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address event-icalgcal-links event-excerpts event-item-back-link gallery-design-grid aspect-ratio-auto lightbox-style-light gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square show-product-price show-product-item-nav product-social-sharing tweak-v1-related-products-image-aspect-ratio-11-square tweak-v1-related-products-details-alignment-center newsletter-style-light opentable-style-light small-button-style-solid small-button-shape-square medium-button-style-outline medium-button-shape-square large-button-style-solid large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-outline button-corner-style-rounded tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-layout-default collection-53519fd7e4b0e68461b3d2f1 mobile-style-available has-banner-image general-page">





                <div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper "><div class="row"><div class="col"></div></div></div>


                    <div class=" banner-thumbnail-wrapper has-description" data-content-field="main-image" data-collection-id="53519fd7e4b0e68461b3d2f1" data-edit-main-image="" data-annotation-alignment="bottom left">

                      <div class="color-overlay" style="background: rgba(73, 111, 97, 0.3);"> </div>
                      <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
                        <img data-src="<%= asset_path('longroadahead.jpg') %>" data-image="<%= asset_path('longroadahead.jpg') %>" data-image-dimensions="1000x350" data-image-focal-point="0.5,0.5" data-parent-ratio="3.5" style="font-size: 0px; left: 0px; top: -388.875px; width: 1900px; height: 800px; position: relative;" alt="shipping-82339_1280.jpg" class="" data-image-resolution="2500w" src="<%= asset_path('longroadahead.jpg') %>">
                      </figure>

                      <div class="desc-wrapper " data-content-field="description" data-collection-id="53519fd7e4b0e68461b3d2f1" ><p id="venture-plus-text">Cascade Partners(venture plus text) recognizes a good transaction involves much more than merely closing the deal. It’s about maximizing value not just dollars.</p><p><!--EndFragment--></p></div>
                    </div>


      <main id="page" role="main"  >

        <!--
        --><!--
        --><div  id="folderNav" data-content-field="navigation-folderNav"  >
  <div class="folder-nav-toggle "  ></div>

  <nav id="navbar"class="folder-nav navbar-fixed-left" >
    <ul >
    <li class=" nav-section-label">Venture + Growth</li>

      <li class="page-collection" style="padding-bottom: 3px;"><%= link_to('Overview', :anchor => 'overview')%></li>
      <li class="page-collection" style="padding-bottom: 3px;"><%= link_to('Sectors', :anchor => 'sectors') %></li>

    </ul>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="53519fd7e4b0e68461b3d2f1" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1540306395419" id="page-53519fd7e4b0e68461b3d2f1"><div class="row sqs-row" id="yui_3_17_2_1_1586400025860_111"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1586400025860_110"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1412717418905_24776"><div class="sqs-block-content"><h2 style="white-space: pre-wrap;"><p id="overview">Overview</p></h2><p style="white-space: pre-wrap;">Everything we do originates from an express desire to meet the unique objectives of each of our client partners.&nbsp; We impact their success by bringing a range of solutions and approaches drawn from nearly 200 years of collective deal experience.&nbsp; Operating experience, board experience and investment experience ensure we maximize value, not just dollars.</p><p style="white-space: pre-wrap;">Our services include transaction advisory for buyers and sellers, financing and recapitalization assistance, and divestitures. We understand the impact of growth aspirations and the implications of succession challenges. We have been in your shoes. Our experience provides us with an understanding of all perspectives and the insight to anticipate actions throughout the transaction.</p><p style="white-space: pre-wrap;">Our research-driven process and broad perspective leverages more than just our past experience and places our partners in position to achieve their goals in today’s market.&nbsp; We have worked with hundreds of companies and analyzed dozen of industries.&nbsp; We are not merely financial engineers. We figure out what makes our clients different and what drives their business. We utilize that understanding to showcase the value to the right partners.</p>Our extensive service offering allows us to provide unbiased advice that will assist our partners in achieving their goals and maximizing value.</div></div><div class="sqs-block image-block sqs-block-image sqs-col-3 span-3 float float-right sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1524607494941_26649"><div class="sqs-block-content" id="yui_3_17_2_1_1586400025860_109">

<p id="sectors" ></p>
</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1524607494941_33940"><div class="sqs-block-content"><h3 style="white-space: pre-wrap;" ><br>Sectors</h3><p style="white-space: pre-wrap;">As one of <strong>30 global investment banks</strong> in GCG, we are partnered with nearly <strong>600 accounting and law firms</strong>; these relationships afford us expertise and direct access in over <strong>20 countries</strong>. Cascade Partners has executed transactions in <strong>5 of 7 continents</strong>. Our extensive international experience provides optimal cross border solutions.</p>


<div class="
  sqs-gallery-container
  sqs-gallery-block-grid
  sqs-gallery-aspect-ratio-square
  sqs-gallery-thumbnails-per-row-3



  sqs-gallery-block-show-meta



  clear" id="yui_3_17_2_1_1586400025860_150">



  </div>



</div>




<style type="text/css" id="design-grid-css">
#block-yui_3_17_2_1_1540305586559_24952 .sqs-gallery-block-grid .sqs-gallery-design-grid { margin-right: -20px; }
#block-yui_3_17_2_1_1540305586559_24952 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper { margin-right: 20px; margin-bottom: 20px; }
</style>




</div></div></div></div></div>
        </div><!--
        -->

      </main>



</body>
<% if !@anchor %>
  <%= javascript_tag "addTextByDelay('#venture-plus-text')" %>
<% elsif @anchor == 'Overview'
   %>
  <script>
    $(document).ready(function(){
      const $link = $('a').filter(function(index) { return $(this).text() === "Overview"; });
      $link[4].click();
    });
  </script>
<% elsif @anchor == 'Sectors' %>
  <script>
    $(document).ready(function(){
      const $link = $('a').filter(function(index) { return $(this).text() === "Sectors"; });
      $link[2].click();
    });
  </script>
<% end %>

</html>

