<li ><%= link_to "Investment Banking", investment_banking_path, style: "padding: 0px;", class: "nav-section-label" %></li>
<li><%= link_to "Overview", investement_overview_path,  class: "page-collection" %></li>
<li ><%= link_to "Financing & Recapitalizations", investment_financing_path,  class: "page-collection"%></li>
<li ><%= link_to "Buy Side Advisory", investment_buyside_path,  class: "page-collection" %></li>
<li><%= link_to "Sell Side Advisory", investment_sellside_path,  class: "page-collection" %></li>
<li ><%= link_to "Transactions Advisory", investment_transactions_path,  class: "page-collection" %></li>
