
<ul>
<li><%= link_to 'About', about_path, style: "padding: 0px;", class: "nav-section-label" %></li>
  <li ><%= link_to "Experience", about_experience_path, class: "page-collection" %></li>
  <li ><%= link_to "Team", about_team_path, class: "page-collection" %></li>
  <li ><%= link_to "Harold Soper", about_harold_path, class: "page-collection" %></li>
  <li ><%= link_to "Cory Leff", about_cory_path, class: "page-collection" %></li>
</ul>
