<%= render 'about/about_pic' %>
<main id="page" role="main">

        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation" id="yui_3_17_2_1_1592095130765_933">
    <%= render 'about/side_nav' %>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="534327ade4b081d168e7a19d" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1554229649529" id="page-534327ade4b081d168e7a19d"><div class="row sqs-row" id="yui_3_17_2_1_1592095130765_113"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1592095130765_112"><div class="row sqs-row" id="yui_3_17_2_1_1592095130765_111"><div class="col sqs-col-3 span-3" id="yui_3_17_2_1_1592095130765_110"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_4_1425931857868_8767"><div class="sqs-block-content" id="yui_3_17_2_1_1592095130765_109">


    <div class="image-block-outer-wrapper
          layout-caption-hidden
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
         sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1592095130765_108">




        <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:800.0px;" id="yui_3_17_2_1_1592095130765_107">







          <div style="padding-bottom: 150.25%; overflow: hidden;" class="
                image-block-wrapper



                has-aspect-ratio
              " data-animation-role="image" id="yui_3_17_2_1_1592095130765_106">
            <noscript><img src="<%= asset_path('Harold.jpg') %>" alt="" /></noscript><img class="thumb-image loaded" data-src="<%= asset_path('Harold.jpg') %>" data-image="<%= asset_path('Harold.jpg') %>" data-image-dimensions="800x1202" data-image-focal-point="0.5,0.5" alt="" data-load="false" data-image-id="54fe0234e4b07c1b9214d09f" data-type="image" style="left: 0%; top: -0.0833333%; width: 100%; height: 100.167%; position: absolute;" data-image-resolution="300w" src="<%= asset_path('Harold.jpg') %>">
          </div>






        </figure>


    </div>






</div></div></div><div class="col sqs-col-9 span-9" id="yui_3_17_2_1_1592095130765_135"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-d8a76b187880465c4e75"><div class="sqs-block-content"><h1 style="white-space:pre-wrap;">Cory Leff</h1><h3 style="white-space:pre-wrap;"><strong>Managing Partner, CPA </strong><br>404.680.4914</h3></div></div><div class="row sqs-row" id="yui_3_17_2_1_1592095130765_134"><div class="col sqs-col-4 span-4" id="yui_3_17_2_1_1592095130765_808"><div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_4_1427821769329_10592"><div class="sqs-block-content" id="yui_3_17_2_1_1592095130765_807">




  <div data-animation-role="button" class="lightbox-handle-wrapper lightbox-handle-wrapper--align-left" id="yui_3_17_2_1_1592095130765_806">
    <button class="lightbox-handle sqs-system-button sqs-editable-button" id="yui_3_17_2_1_1592095130765_805" tabindex="0">

        Email Cory

    </button>
  </div>



</div></div></div><div class="col sqs-col-5 span-5" id="yui_3_17_2_1_1592095130765_133"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="64.93506493506493" data-block-type="5" id="block-yui_3_17_2_3_1460322168023_12792"><div class="sqs-block-content" id="yui_3_17_2_1_1592095130765_132">


    <div class="image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
         sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1592095130765_131">

    </div>


</div></div></div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_4_1425931857868_8335"><div class="sqs-block-content"><p style="white-space:pre-wrap;">Cory Leff is Partner and co-founder of Hyacinth Capital Advisors active in sourcing and executing a variety of transactions and providing value-added accounting/finance, operational and strategic advisory services. </p><p style="white-space:pre-wrap;">Mr. Leff was previously a Senior Analyst in the Investment Banking division of Stephens, Inc. and Analyst in the Sell-Side M&A Advisory practice of Dinan Capital Advisors where he executed a variety of transactions including mergers & acquisitions and debt and equity financings across various industries on behalf of private and publicly-traded clients.  </p><p style="white-space:pre-wrap;">Mr. Leff was previously a Senior Associate in the Transaction Advisory Services and Assurance practices of Aprio, LLP (formerly Habif, Arogeti & Wynne, LLP). </p><p style="white-space:pre-wrap;">Mr. Leff graduated from Oglethorpe University in Atlanta, GA where he received his B.S. in Accounting and was a three-year varsity letterman for Oglethorpe University’s baseball team. Mr. Leff is a Georgia licensed Certified Public Accountant and holds Series 7, 79 and 63 securities licenses.  </p></div></div>



  </div>

</div>




</div>
            </div>

          </div> <!-- End .summary-content -->

        </div> <!-- End .summary-item -->



    </div> <!-- End .summary-item-list -->

  </div> <!-- End .summary-item-list-container -->

</div>
</div></div></div></div></div>
        </div><!--
        -->

      </main>
<%= javascript_tag "addTextByDelay('#investment-plus-text')" %>
