<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
</style>

<%= render 'about/about_pic' %>
<main id="page" role="main">

        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation" id="yui_3_17_2_1_1592095130765_933">
    <%= render 'about/side_nav' %>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="534327ade4b081d168e7a19d" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1554229649529" id="page-534327ade4b081d168e7a19d"><div class="row sqs-row" id="yui_3_17_2_1_1592095130765_113"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1592095130765_112"><div class="row sqs-row" id="yui_3_17_2_1_1592095130765_111"><div class="col sqs-col-3 span-3" id="yui_3_17_2_1_1592095130765_110"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_4_1425931857868_8767"><div class="sqs-block-content" id="yui_3_17_2_1_1592095130765_109">


    <div class="image-block-outer-wrapper
          layout-caption-hidden
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
         sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1592095130765_108">




        <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:800.0px;" id="yui_3_17_2_1_1592095130765_107">







          <div style="padding-bottom: 150.25%; overflow: hidden;" class="
                image-block-wrapper



                has-aspect-ratio
              " data-animation-role="image" id="yui_3_17_2_1_1592095130765_106">
            <noscript><img src="<%= asset_path('Harold.jpg') %>" alt="" /></noscript><img class="thumb-image loaded" data-src="<%= asset_path('Harold.jpg') %>" data-image="<%= asset_path('Harold.jpg') %>" data-image-dimensions="800x1202" data-image-focal-point="0.5,0.5" alt="" data-load="false" data-image-id="54fe0234e4b07c1b9214d09f" data-type="image" style="left: 0%; top: -0.0833333%; width: 100%; height: 100.167%; position: absolute;" data-image-resolution="300w" src="<%= asset_path('Harold.jpg') %>">
          </div>






        </figure>


    </div>






</div></div></div><div class="col sqs-col-9 span-9" id="yui_3_17_2_1_1592095130765_135"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-d8a76b187880465c4e75"><div class="sqs-block-content"><h1 style="white-space:pre-wrap;">Harold Soper</h1><h3 style="white-space:pre-wrap;"><strong>Managing Partner </strong><br>917.273.1782</h3></div></div><div class="row sqs-row" id="yui_3_17_2_1_1592095130765_134"><div class="col sqs-col-4 span-4" id="yui_3_17_2_1_1592095130765_808"><div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_4_1427821769329_10592"><div class="sqs-block-content" id="yui_3_17_2_1_1592095130765_807">


  <div data-animation-role="button" class="lightbox-handle-wrapper lightbox-handle-wrapper--align-left" id="yui_3_17_2_1_1592095130765_806">

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Email Harold</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/email_harold" method="post">
    <div class="container">
      <h1>Email Harold</h1>
      <p>Please fill in this form to contact us.</p>
      <hr>
      <label for="Full Name"><b>Name</b></label>
      <input type="text" placeholder="Enter Full Name" name="name" required>

      <label for="Email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="subject"><b>Subject</b></label>
      <input type="text" placeholder="Enter Subject" name="subject" required>

      <label for="message"><b>Message</b></label>
      <input type="text" placeholder="Enter Message....." name="message" required>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Submit</button>
      </div>
    </div>
  </form>
</div>
  </div>



</div></div></div><div class="col sqs-col-5 span-5" id="yui_3_17_2_1_1592095130765_133"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="64.93506493506493" data-block-type="5" id="block-yui_3_17_2_3_1460322168023_12792"><div class="sqs-block-content" id="yui_3_17_2_1_1592095130765_132">


    <div class="image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
         sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1592095130765_131">

    </div>


</div></div></div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_4_1425931857868_8335"><div class="sqs-block-content"><p style="white-space:pre-wrap;">Mr. Soper is Managing Partners and co-founder of Hyacinth Capital Advisors
with more than 20 years of experience in Investment Banking and Capital
Markets. Over the last 10 years, Mr. Soper advised both privately and publicly-
traded companies, institutional investors and entrepreneurs on cross-border
Mergers &amp; Acquisitions, Restructures, Growth Capital and other Corporate
Finance transactions across a range of industries. </p><p style="white-space:pre-wrap;">Previously, Mr. Soper was a Managing Director with Nexus Capital Markets,
where he provided a wide variety of financing and advisory services and led the
execution process across transactions throughout Africa, Latin America and
Europe. Mr. Soper began his career in the Capital Markets with Morgan Stanley
and spent years analyzing, consulting &amp; implementing institutional trading
strategies for New York based investment firms. </p><p style="white-space:pre-wrap;">Mr. Soper earned his MBA from the University of Michigan and received a BA from the University of Maryland where he was a College Park Scholar.</p></div></div>



  </div>

</div>




</div>
            </div>

          </div> <!-- End .summary-content -->

        </div> <!-- End .summary-item -->



    </div> <!-- End .summary-item-list -->

  </div> <!-- End .summary-item-list-container -->

</div>
</div></div></div></div></div>
        </div><!--
        -->

      </main>
<%= javascript_tag "addTextByDelay('#investment-plus-text')" %>


<!DOCTYPE html>
<html>
<body>



<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>

