<%= render 'about/about_pic' %>
<body>

      <main id="page" role="main">
        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation">
    <%= render 'about/side_nav' %>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="5398bdd4e4b0c0c13084814e" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1437595604283" id="page-5398bdd4e4b0c0c13084814e"><div class="row sqs-row" id="yui_3_17_2_1_1584668424751_399"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1584668424751_398"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1412802346283_24153"><div class="sqs-block-content"><h2 class="text-align-center">The Hyacinth Capital Advisers Team</h2></div></div><div class="sqs-block summary-v2-block sqs-block-summary-v2" data-block-json="{&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;collectionId&quot;:&quot;5429fcc3e4b055263fb5f6db&quot;,&quot;design&quot;:&quot;autogrid&quot;,&quot;headerText&quot;:&quot;Featured&quot;,&quot;textSize&quot;:&quot;small&quot;,&quot;pageSize&quot;:29,&quot;imageAspectRatio&quot;:&quot;0.6666666666666666&quot;,&quot;columnWidth&quot;:100,&quot;gutter&quot;:5,&quot;listImageSize&quot;:30,&quot;listImageAlignment&quot;:&quot;left&quot;,&quot;slidesPerRow&quot;:3,&quot;textAlignment&quot;:&quot;center&quot;,&quot;showTitle&quot;:true,&quot;showThumbnail&quot;:true,&quot;showExcerpt&quot;:true,&quot;showReadMoreLink&quot;:false,&quot;showPrice&quot;:true,&quot;productQuickViewEnabled&quot;:false,&quot;showPastOrUpcomingEvents&quot;:&quot;Upcoming&quot;,&quot;metadataPosition&quot;:&quot;below-content&quot;,&quot;primaryMetadata&quot;:&quot;none&quot;,&quot;secondaryMetadata&quot;:&quot;none&quot;,&quot;filter&quot;:{},&quot;autoCrop&quot;:true,&quot;lightbox&quot;:true,&quot;mixedContent&quot;:true,&quot;blockId&quot;:&quot;dd438fb2a75bf2a2bba6&quot;}" data-block-type="55" id="block-yui_3_17_2_50_1437516234131_6637"><div class="sqs-block-content" id="yui_3_17_2_1_1584668424751_397">

<div class="
  summary-block-wrapper
  summary-block-collection-type-gallery
  summary-block-setting-text-size-small
  summary-block-setting-text-align-center
  summary-block-setting-design-autogrid
  summary-block-setting-design-list-thumbnail-left
  summary-block-setting-metadata-position-below-content
  summary-block-setting-primary-metadata-none
  summary-block-setting-secondary-metadata-none
  summary-block-setting-show-thumbnail
  summary-block-setting-show-title
  summary-block-setting-show-price
  summary-block-setting-show-excerpt
  sqs-gallery-design-autogrid
  " id="yui_3_17_2_1_1584668424751_396">

  <div class="summary-item-list-container sqs-gallery-container" id="yui_3_17_2_1_1584668424751_147">

    <header class="summary-block-header">

      <!-- Collection Title -->
      <div class="summary-heading">


      </div>

      <!-- Carousel Nav -->
      <div class="summary-carousel-pager sqs-gallery-controls">
        <span class="summary-carousel-pager-next next"></span>
        <span class="summary-carousel-pager-prev previous"></span>
      </div>

    </header>

    <div class="summary-item-list sqs-gallery sqs-gallery-design-autogrid" id="yui_3_17_2_1_1584668424751_166" style="margin-bottom: -0.713267%;">



        <div class="summary-item
          summary-item-record-type-image
          sqs-gallery-design-autogrid-slide
           summary-item-has-thumbnail
          summary-item-has-author
           positioned sqs-active-slide" data-click-through-url="/rajesh-kothari" id="yui_3_17_2_1_1584668424751_171" data-type="image" style="width: 13.6743%; margin-bottom: 0.713267%; margin-right: 0.713267%; clear: left;">


            <!-- Thumbnail -->
            <%= link_to image_tag("Harold.jpg", alt: "Cory"), about_harold_path, style: "width: 103px; height: 144px;", class: "summary-thumbnail-container sqs-gallery-image-container"%>


          <div class="summary-content sqs-gallery-meta-container">

            <!-- Metadata (Above Title) -->
            <div class="summary-metadata-container summary-metadata-container--above-title">

              <div class="summary-metadata summary-metadata--primary">

</div>

              <div class="summary-metadata summary-metadata--secondary">

</div>
            </div>


              <!-- Title -->
              <div class="summary-title">
                <a ><%= link_to "Harold Soper", about_harold_path, class: "summary-title-link" %></a></div>


            <!-- Metadata (Below Title) -->
            <div class="summary-metadata-container summary-metadata-container--below-title">

              <div class="summary-metadata summary-metadata--primary">


</div>

              <div class="summary-metadata summary-metadata--secondary">

</div>
            </div>


            <!-- Metadata (Below Content) -->
            <div class="summary-metadata-container summary-metadata-container--below-content">

              <div class="summary-metadata summary-metadata--primary">


</div>

              <div class="summary-metadata summary-metadata--secondary">

</div>
            </div>

          </div> <!-- End .summary-content -->

        </div> <!-- End .summary-item -->



        <div class="summary-item
          summary-item-record-type-image
          sqs-gallery-design-autogrid-slide
           summary-item-has-thumbnail
          summary-item-has-author
           positioned" data-click-through-url="/gary-n-lewis" id="yui_3_17_2_1_1584668424751_173" data-type="image" style="width: 13.6743%; margin-bottom: 0.713267%; margin-right: 0.713267%;">

            <!-- Thumbnail -->
            <%= link_to image_tag("Harold.jpg", alt: "Cory"), about_cory_path, style: "width: 103px; height: 144px;", class: "summary-thumbnail-container sqs-gallery-image-container"%>


  <!-- Products: Quick View -->

          <div class="summary-content sqs-gallery-meta-container">

            <!-- Metadata (Above Title) -->
            <div class="summary-metadata-container summary-metadata-container--above-title">

              <div class="summary-metadata summary-metadata--primary">
</div>

              <div class="summary-metadata summary-metadata--secondary">

</div>
            </div>


              <!-- Title -->
              <div class="summary-title">
                <a ><%= link_to "Cory Leff, CPA", about_cory_path, class: "summary-title-link" %></a></div>

            <!-- Metadata (Below Title) -->
            <div class="summary-metadata-container summary-metadata-container--below-title">

              <div class="summary-metadata summary-metadata--primary">


</div>

</div>
</div></div></div></div></div>
        </div><!--
        -->

      </main>

</body>

<%= javascript_tag "addTextByDelay('#investment-plus-text')" %>
