<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-US"  class="touch-styles">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- This is Squarespace. --><!-- cascade-partners -->
<base href="">
<meta charset="utf-8" />
<title>Soper Partners</title>
<link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/533b19d5e4b0168db4095de0/1401945569742-H7MLKIGZJWGE58P518LX/ke17ZwdGBToddI8pDm48kONQzD3RgrKzZ18rKzTvXF5Zw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7VJBgSaXn0dNQsXftokDjBwU944C1sQL-8v474PEZUGbI9fd0FyLw-2iNAVL1ElpqA/favicon.ico"/>
<link rel="canonical" href="http://www.cascade-partners.com"/>
<meta property="og:site_name" content="Soper Partners"/>
<meta property="og:title" content="Cascade Partners"/>
<meta property="og:url" content="http://www.cascade-partners.com"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Balancing our service platform across both investment banking and private investing, Cascade&amp;nbsp;offers a suite of complimentary financial products services and a competitive advantage that is&amp;nbsp;steeped in the business principles synonymous with the Midwest, integrity, trust and hard&amp"/>
<meta property="og:image" content="http://static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1412805825137/Partners_ColorsLogo_light.png?format=1500w"/>
<meta property="og:image:width" content="160"/>
<meta property="og:image:height" content="50"/>
<meta itemprop="name" content="Cascade Partners"/>
<meta itemprop="url" content="http://www.cascade-partners.com"/>
<meta itemprop="description" content="Balancing our service platform across both investment banking and private investing, Cascade&amp;nbsp;offers a suite of complimentary financial products services and a competitive advantage that is&amp;nbsp;steeped in the business principles synonymous with the Midwest, integrity, trust and hard&amp"/>
<meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1412805825137/Partners_ColorsLogo_light.png?format=1500w"/>
<link rel="image_src" href="http://static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1412805825137/Partners_ColorsLogo_light.png?format=1500w" />
<meta itemprop="image" content="http://static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1412805825137/Partners_ColorsLogo_light.png?format=1500w"/>
<meta name="twitter:title" content="Cascade Partners"/>
<meta name="twitter:image" content="http://static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1412805825137/Partners_ColorsLogo_light.png?format=1500w"/>
<meta name="twitter:url" content="http://www.cascade-partners.com"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Balancing our service platform across both investment banking and private investing, Cascade&amp;nbsp;offers a suite of complimentary financial products services and a competitive advantage that is&amp;nbsp;steeped in the business principles synonymous with the Midwest, integrity, trust and hard&amp"/>
<meta name="description" content="" />
<script type="text/javascript" src="//use.typekit.net/ik/mGJTrOgejptj-4BO6joN9yz9AwfRNlr_TNY_BYPwCyvfezqffFHN4UJLFRbh52jhWD9DwhJU5AbuZQsKw2Ih5esKF2MoFAs8wg76MPG0jhBDjhBqZPu3jW4XdcmkSkoDSWmyScmDSeBRZPoRdhXCjhBDjhBqZPu3jW4XdcmkSkoRdhXCjhBDjhBqZPu3jW4XdcmkSkoDSWmyScmDSeBRZPoRdhXCdeNRjAUGdaFXOYiaikoRjWFRjAs8OWgyS1s0ZW4DOcFzdPUaiaS0jhBDjhBqZPu3jW4XdcmkSkoDSWmyScmDSeBRZPoRdhXK2YgkdayTdAIldcNhjPJWZcjljcBD-AwlZhNX-e8ROWi8jKu3ScvKgcmuScN3jPG4fHvgIMMjgfMfH6qJnbIbMg6eJMJ7fbKOMsMMeMS6MKG4fHtgIMMjIfMfH6qJRMIbMg6sJMJ7fbKfssMgeMw6MKG4fH8oIMJjMkMfH6qJ71qbMy6IJMJ7fbKGpsMfeMS6MKGHf55eMsMfeMX6MKGHf5AeMsMfegI6MTMgtE7Ku39.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alegreya+Sans:400|Oswald:400,300"/>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/common-5f66f7a26467390287e9a-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/common-5f66f7a26467390287e9a-min.en-US.js" ></script></script><script data-name="static-context">Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"//assets.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/announcement-bar-48e2f74ac4b3bcdf2c81c-min.en-US.js"},"squarespace-audio-player":{"css":"//assets.squarespace.com/universal/styles-compressed/audio-player-52bdd87acccf92a19703e60e09c654bd-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/audio-player-d01f30740c50b3a0d768d-min.en-US.js"},"squarespace-blog-collection-list":{"css":"//assets.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/blog-collection-list-342036262b204974aa269-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"//assets.squarespace.com/universal/styles-compressed/calendar-block-renderer-a0cc7f57176bc63d87bc9f4149fada5a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/calendar-block-renderer-ce3df506bf0689760f5a6-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"//assets.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/chartjs-helpers-20012856ae6600a2bcaa7-min.en-US.js"},"squarespace-comments":{"css":"//assets.squarespace.com/universal/styles-compressed/comments-1637eb4ee93bed59528921026e024bf4-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/comments-ed118d04ebd7eb7d6f645-min.en-US.js"},"squarespace-commerce-cart":{"js":"//assets.squarespace.com/universal/scripts-compressed/commerce-cart-64c680d276e3ebced290f-min.en-US.js"},"squarespace-dialog":{"css":"//assets.squarespace.com/universal/styles-compressed/dialog-afeb96ba160fb642a2d98c892a956065-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/dialog-719d580f58bdd667802b1-min.en-US.js"},"squarespace-events-collection":{"css":"//assets.squarespace.com/universal/styles-compressed/events-collection-a0cc7f57176bc63d87bc9f4149fada5a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/events-collection-a5429bd47be36ea98af1d-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"//assets.squarespace.com/universal/scripts-compressed/form-rendering-utils-b96b2c35971262cca8b59-min.en-US.js"},"squarespace-forms":{"css":"//assets.squarespace.com/universal/styles-compressed/forms-f64e0249b577bd29ab8588cd7d02f749-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/forms-f8ae2a0cfbb28fbda1811-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"//assets.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/gallery-collection-list-e23ee315df466f1dba9ec-min.en-US.js"},"squarespace-image-zoom":{"css":"//assets.squarespace.com/universal/styles-compressed/image-zoom-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/image-zoom-5a660e03e667b16c7a076-min.en-US.js"},"squarespace-pinterest":{"css":"//assets.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/pinterest-4725f00d98ee2610ca950-min.en-US.js"},"squarespace-popup-overlay":{"css":"//assets.squarespace.com/universal/styles-compressed/popup-overlay-0dff2958e7d1b369431f9e724190dc7d-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/popup-overlay-539238289a6c0fe50ca78-min.en-US.js"},"squarespace-product-quick-view":{"css":"//assets.squarespace.com/universal/styles-compressed/product-quick-view-5ecfaf9aeb530f7e2c5ac043ddf653c6-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/product-quick-view-ce38d0d68e222d96e6b90-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"//assets.squarespace.com/universal/styles-compressed/products-collection-item-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/products-collection-item-v2-828c2fbae302bd3e4fe16-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"//assets.squarespace.com/universal/styles-compressed/products-collection-list-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/products-collection-list-v2-35101a00e9b514fc4c4a9-min.en-US.js"},"squarespace-search-page":{"css":"//assets.squarespace.com/universal/styles-compressed/search-page-207da8872118254c0a795bf9b187c205-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/search-page-b6522369b6f5c4deb66f5-min.en-US.js"},"squarespace-search-preview":{"js":"//assets.squarespace.com/universal/scripts-compressed/search-preview-1a67565ee2cf1c6597226-min.en-US.js"},"squarespace-share-buttons":{"js":"//assets.squarespace.com/universal/scripts-compressed/share-buttons-3cfd2c452cad711b0b920-min.en-US.js"},"squarespace-simple-liking":{"css":"//assets.squarespace.com/universal/styles-compressed/simple-liking-9ef41bf7ba753d65ec1acf18e093b88a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/simple-liking-9c531dfb113ab68e593bd-min.en-US.js"},"squarespace-social-buttons":{"css":"//assets.squarespace.com/universal/styles-compressed/social-buttons-bf7788a87c794b73afd9d5c49f72f4f3-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/social-buttons-fbcf678e1f23c289c2dfc-min.en-US.js"},"squarespace-tourdates":{"css":"//assets.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/tourdates-bf55213cb7acea6972f0f-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"//assets.squarespace.com/universal/styles-compressed/website-overlays-manager-68df56a8135961401cbd590171d6b04a-min.css","js":"//assets.squarespace.com/universal/scripts-compressed/website-overlays-manager-1bdf02a9726764521ce6d-min.en-US.js"}},"pageType":2,"website":{"id":"533b19d5e4b0168db4095de0","identifier":"cascade-partners","websiteType":1,"contentModifiedOn":1581705416859,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"America/Detroit","machineTimeZoneOffset":-18000000,"timeZoneOffset":-18000000,"timeZoneAbbr":"EST","siteTitle":"Cascade Partners","fullSiteTitle":"Cascade Partners","siteDescription":"","location":{"mapZoom":11.0,"mapLat":40.67858956275911,"mapLng":-74.0440199669922},"logoImageId":"5435b4c0e4b092234b318f66","shareButtonOptions":{},"logoImageUrl":"//static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1581705416859/","authenticUrl":"http://www.cascade-partners.com","internalUrl":"http://cascade-partners.squarespace.com","baseUrl":"http://www.cascade-partners.com","primaryDomain":"www.cascade-partners.com","typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false,"screenshotId":"b36c4904","showOwnerLogin":false},"websiteSettings":{"id":"533b19d5e4b0168db4095de1","websiteId":"533b19d5e4b0168db4095de0","type":"Business","subjects":[],"country":"US","state":"MI","simpleLikingEnabled":false,"mobileInfoBarSettings":{"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"commentLikesAllowed":false,"commentAnonAllowed":false,"commentThreaded":false,"commentApprovalRequired":false,"commentAvatarsOn":false,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":false,"commentEnableByDefault":false,"commentDisableAfterDaysDefault":1,"disqusShortname":"","commentsEnabled":false,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["USD"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"orderConfirmationInjectCode":"","showCustomCheckoutForm":false,"enableMailingListOptInByDefault":true,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false,"restockNotificationsMailingListSignUpEnabled":false,"relatedProductsEnabled":false,"relatedProductsOrdering":"random","soldOutVariantsDropdownDisabled":false},"isLive":false,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"trialAssistantEnabled":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled","size":"small","shape":"rect","color":"white"},"ampEnabled":false},"cookieSettings":{"isCookieBannerEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"isRestrictiveCookiePolicyAbsolute":false,"cookieBannerText":"","cookieBannerTheme":"","cookieBannerVariant":"","cookieBannerPosition":"","cookieBannerCtaVariant":"","cookieBannerCtaText":""},"websiteCloneable":false,"collection":{"title":"Home","id":"53923a20e4b05bede084dcc5","fullUrl":"/","type":10},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","banner-slideshow-controls":"Arrows","gallery-arrow-style":"No Background","gallery-aspect-ratio":"3:2 Standard","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Grid","gallery-info-overlay":"Show on Hover","gallery-loop":"false","gallery-navigation":"Bullets","gallery-show-arrows":"true","gallery-transitions":"Fade","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"100px","gridSize":"280px","gridSpacing":"10px","logoContainerWidth":"130px","product-gallery-auto-crop":"false","product-image-auto-crop":"true","siteTitleContainerWidth":"220px","tweak-v1-related-products-title-spacing":"50px"},"templateId":"52a74dafe4b073a80cd253c5","templateVersion":"7","pageFeatures":[1,2,4],"gmRenderKey":"QUl6YVN5Q0JUUk9xNkx1dkZfSUUxcjQ2LVQ0QWVUU1YtMGQ3bXk4","betaFeatureFlags":["ORDERS-SERVICE-check-digital-good-access-with-service","ORDERS-SERVICE-reset-digital-goods-access-with-service","ORDER_SERVICE-submit-giftcard-order-through-service","ORDER_SERVICE-submit-order-with-gift-card-payments-through-service","dg_downloads_from_fastly","generic_iframe_loader_for_campaigns","donations_customer_accounts","product-retriever-v2-enabled","domain_registration_via_registrar_service","domain_locking_via_registrar_service","domain_deletion_via_registrar_service","domain_info_via_registrar_service","content_item_settings","seven_one_image_overlay_opacity","commerce_restock_notifications","commerce_bulk_manager","newsletter_block_captcha","new_billing_system","gallery_settings_71","commerce_onboarding_wizard","commerce_onboarding_wizard_phase_two"],"yuiEliminationExperimentList":[{"name":"statsMigrationJobWidget-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"ContributionConfirmed-enabled","experimentType":"AB_TEST","variant":"false","containsError":false,"status":"ACTIVE"},{"name":"TextPusher-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"MenuItemWithProgress-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"billingNewsletters-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"imageProcJobWidget-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"QuantityChangePreview-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"CompositeModel-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"HasPusherMixin-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"INACTIVE"},{"name":"ProviderList-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"MediaTracker-enabled","experimentType":"AB_TEST","variant":"false","containsError":false,"status":"ACTIVE"},{"name":"pushJobWidget-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"internal-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"BillingPanel-enabled","experimentType":"AB_TEST","variant":"false","containsError":false,"status":"ACTIVE"},{"name":"PopupOverlayEditor-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"},{"name":"CoverPagePicker-enabled","experimentType":"AB_TEST","variant":"true","containsError":false,"status":"ACTIVE"}],"impersonatedSession":false,"tzData":{"zones":[[-300,"US","E%sT",null]],"rules":{"US":[[1967,2006,null,"Oct","lastSun","2:00","0","S"],[1987,2006,null,"Apr","Sun>=1","2:00","1:00","D"],[2007,"max",null,"Mar","Sun>=8","2:00","1:00","D"],[2007,"max",null,"Nov","Sun>=1","2:00","0","S"]]}}};</script><script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script><script type="application/ld+json">{"url":"http://www.cascade-partners.com","name":"Soper Partners","description":"","image":"//static1.squarespace.com/static/533b19d5e4b0168db4095de0/t/5435b4c0e4b092234b318f66/1581705416859/","@context":"http://schema.org","@type":"WebSite"}</script><!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&part=4"/><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false&noMedia=true&part=4"/><![endif]-->
<!--[if !IE]> --><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/533b19d5e4b0168db4095de0/211/52a74dafe4b073a80cd253c5/533b19d5e4b0168db4095de4/1033-05142015/1581704408067/site.css?&filterFeatures=false"/><!-- <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71305535-1', 'auto');
  ga('send', 'pageview');

</script><script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<!-- End of Squarespace Headers -->
    <script>/* Must be below squarespace-headers */(function(){var e='ontouchstart'in window||navigator.msMaxTouchPoints;var t=document.documentElement;if(!e&&t){t.className=t.className.replace(/touch-styles/,'')}})()
    </script>
  </head>
  <body id="collection-53923a20e4b05bede084dcc5" class="nav-button-style-outline nav-button-corner-style-pill banner-button-style-solid banner-button-corner-style-pill banner-slideshow-controls-arrows meta-priority-date  hide-entry-author hide-list-entry-footer    hide-blog-sidebar center-navigation--info     event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts  event-item-back-link    gallery-design-grid aspect-ratio-auto lightbox-style-light gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop   product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square  show-product-price show-product-item-nav product-social-sharing tweak-v1-related-products-image-aspect-ratio-11-square tweak-v1-related-products-details-alignment-center newsletter-style-light  opentable-style-light small-button-style-solid small-button-shape-square medium-button-style-outline medium-button-shape-square large-button-style-solid large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-outline button-corner-style-rounded tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-53923a20e4b05bede084dcc5 collection-layout-default homepage mobile-style-available">
    <a href="#" class="body-overlay"></a>
    <div class="sqs-announcement-bar-dropzone"></div>
    <div id="sidecarNav">
      

  <div id="mobileNavWrapper" class="nav-wrapper" data-content-field="navigation-mobileNav">
    <nav id="mobileNavigation">
      
            
            <div class="collection active homepage">
              <%= link_to "Home", root_path %>
            </div>
            

          
          <div class="folder">
            <div class="folder-toggle" data-href="/investment-banking">Investment Banking</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/investment-banking-overview">
                  Overview
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/financing-recapitalizations">
                  Financing & Recapitalizations
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/buy-side-advisory">
                  Buy-Side Advisory
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/sell-side-advisory">
                  Sell-Side Advisory
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/investment-banking-transactions">
                  Transactions
                </a>
              </div>
              

              <div class="collection">
                <a href="/investment-banking-transactions">
                  Rescent Transactions
                </a>
              </div>
              
            
            </div>
          </div>
          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="/private-investment">Venture + Growth</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/private-investment-overview">
                  Overview
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/investment-criteria">
                  Sectors
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/portfolio">
                  Rescent Transactions
                </a>
              </div>
              
              
            
            </div>
          </div>
          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="/about-cgp">About</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/experience">
                  Experience
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <%= link_to "Team", team_path %>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/rajesh-kothari">
                  Harold J Soper
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/gary-n-lewis">
                  Cory Leff
                </a>
              </div>
              
              
            
            </div>
          </div>
          
        
      
          

          

            
            <div class="collection">
              <%= link_to "Media", media_path %>
            </div>
            

          
        
        

      
        
          

          

            
            <div class="collection">
              <a href="/contact">
                Contact
              </a>
            </div>
            

          
        
        

      
    </nav>
  </div>



    </div>
    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone"></div>

      <header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
        <div class="header-inner">
          <div id="logoWrapper" class="wrapper" data-content-field="site-title">
            
             <h1 id="logoImage"> <%= link_to image_tag("logo.jpg", alt: "Main Logo"), root_path %></h1>
            
          </div><!--
          --><div class="mobile-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><div class="mobile-nav-toggle fixed-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><!--
          --><div id="headerNav">

  <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
    <nav id="mainNavigation" data-content-field="navigation-mainNav">
      

      
        
          

          

            
            <div class="collection active homepage">
              <%= link_to "Home", root_path %>
            </div>
            
          
          <div class="folder">
            <div class="folder-toggle" data-href="/investment-banking">Investment Banking</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/investment-banking-overview">
                  Overview
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/financing-recapitalizations">
                  Financing & Recapitalizations
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/buy-side-advisory">
                  Buy-Side Advisory
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/sell-side-advisory">
                  Sell-Side Advisory
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/investment-banking-transactions">
                  Transactions Services
                </a>
              </div>

              <div class="collection">
                <a href="/investment-banking-transactions">
                  Rescent Transactions
                </a>
              </div>
              
              
            
            </div>
          </div>
          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="/private-investment">Venture + Growth</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/private-investment-overview">
                  Overview
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/investment-criteria">
                  Sectors
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/portfolio">
                  Rescent Transactions
                </a>
              </div>
              
              
            
            </div>
          </div>
          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="/about-cgp">About</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/experience">
                  Experience
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <%= link_to "Team", team_path %>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/rajesh-kothari">
                  Harold J Soper
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/gary-n-lewis">
                  Cory Leff
                </a>
              </div>
            
              
            
            </div>
          </div>
          
        
        

      
        
          

          

            
            <div class="collection">
              <%= link_to "Media", media_path %>
            </div>
            

          
        
        

      
        
          

          

            
            <div class="collection">
              <%= link_to "Contact", contact_path %>
            </div>
            

          
        
        

      
    </nav>
  </div>
  <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
  <style>.mobile-nav-toggle-label { display: inline-block !important; }</style>


</div>
        </div>
      </header>
