<!DOCTYPE html>
<html>
  <head>
    <title>NikaInvestments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta name="turbolinks-visit-control" content="reload">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/partials/header' %>
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
